@page "/categories"
@model WorldImporters.Pages.CategoryPage.IndexModel

@{
    ViewData["Title"] = "Categories";
}

@if (Model.Categories.Any())
{
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li>
                <img src="data:image/jpg;base64,@Convert.ToBase64String(category.Image)" alt="@category.CategoryName" width="50" height="50" />
                <strong>@category.CategoryName</strong> - @category.Description
            </li>
        }
    </ul>
} else
{
    <div class="text-center">
        <p>No available categories</p>
    </div>
}
